@charset "utf-8";

/* CSS Document */
body{
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
}

#visor {
	padding: 10px;
	border: 1px solid #eee;
	color: #cecece;
	margin: 3px;
}


li {
	padding: 1%;
	list-style-type: none;
	background: #cecece;
	width: 28%;
	height: 30px;
	text-align: center;
	margin: 1px;
	position: relative;
	float: left;
}
li:hover {
	opacity:0.7;
}

#numeros li{
	background:#DEE8EF;	
}